language: node_js
sudo: false
node_js:
  - 0.10
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
