body {font-family: helvetica, arial; color:#000; background:#fff;}
#wrap {width: 720px; margin:0 auto; overflow:hidden;}
h3 {margin-bottom:1px; padding: 5px; cursor:pointer; background: #eee url("state.gif") no-repeat 100% 7px;}
h3:hover {color: #999;}
ul {border-bottom: 2px solid #ccc; padding:10px 0 10px 20px; margin:0;}
.active {background-color: #ddd;  background-position: 100% -19px;}
.super-active {background-color: #ffaaaa;  background-position: 100% -19px;}
.col {float: left; width:220px; margin-right:20px;}
.js h3 + ul {display: none;}